@page
@using System.Configuration
@using System.Net.Http
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json.Converters
@using Newtonsoft.Json
@using System.Collections.Generic
@using System.Linq
@using System.Dynamic
@using System.Globalization;
@{
    dynamic templateModel;
}
@using (HttpClient client = new HttpClient())
{
    string platformaURL = "http://localhost:62469";

    string url = platformaURL + "/api/template/getInvoiceTemplate?id=" + 529651;

    HttpResponseMessage response = client.GetAsync(url).Result;

    if (!response.IsSuccessStatusCode)
    {
        throw new Exception("Platforma server is not available!");
    }

    HttpContent responseContent = response.Content;

    string json = responseContent.ReadAsStringAsync().Result;

    templateModel = JsonConvert.DeserializeObject<ExpandoObject>(json, new ExpandoObjectConverter());

}

<html>
<body bgcolor=white lang=EN-US>
    <table align="center" border="0" width="100%" class="body-table" style="font-family: ''Montserrat-Regular''; border-collapse: collapse;">
        <tr>
            <td style="font-size: 11px; width: 250px; border-right: 1px solid #333; padding: 3px 0 15px;">
                <div style="padding-bottom: 8px;">Kupac</div>
                <div style="font-size: 10px; font-family: ''Montserrat-Regular''; width: 200px; height: 70px; padding: 15px 0 4px; border: 1px solid #333; text-align: center; line-height: 18px;">
                    @templateModel.billingFullName <br> @templateModel.billingStreet <br> @templateModel.billingPostCode @templateModel.billingCity
                </div>
            </td>
            <td style="font-size: 11px; padding: 3px 0 15px 50px; vertical-align: top;">
                <div style="padding-bottom: 8px;">Primalac/Mesto i adresa isporuke robe</div>
                <div style="font-size: 10px; font-family: ''Montserrat-Regular''; width: 200px; height: 70px; padding: 9px 0 10; border: 1px solid #333; text-align: center; line-height: 18px;">
                    @templateModel.shippingFullName <br> @templateModel.shippingStreet <br> @templateModel.shippingPostCode @templateModel.shippingCity <br> @templateModel.shippingTelephone
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; font-size: 22px; margin: 40px auto 0; padding-top: 30px; font-family: ''Montserrat-Bold'';">
                Račun-otpremnica: @templateModel.deliveryNumber
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; font-size: 14px; margin: 8px auto 40px; padding-bottom: 30px;">
                Mesto i datum izdavanja: Beograd, @DateTime.Now.ToString("dd.MM.yyyy.")
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table align="center" width="100%" style="text-align: center; border-collapse: collapse; font-size: 10px;">
                    <tr>
                        <td style="width: 20px; border: 1px solid #333;">#</td>
                        <td style="width: 70px; border: 1px solid #333;">Šifra artikla </td>
                        <td style="width: 100px; border: 1px solid #333;">Naziv artikla</td>
                        <td style="width: 40px; border: 1px solid #333;">Količina</td>
                        <td style="width: 50px; border: 1px solid #333;">Jedinica mere</td>
                        <td style="width: 70px; border: 1px solid #333;">Prodajna cena po JM</td>
                        <td style="width: 70px; border: 1px solid #333;">Poreska osnovica</td>
                        <td style="width: 40px; border: 1px solid #333;">PDV %</td>
                        <td style="width: 60px; border: 1px solid #333;">Iznos <br> PDV</td>
                        <td style="width: 70px; border: 1px solid #333;">Ukupno</td>
                    </tr>
                    @{
                        var list = (List<dynamic>)templateModel.items;
                        foreach (var item in list)
                        {
                            <tr>
                                <td style="width: 20px; border: 1px solid #333;">@item.count</td>
                                <td style="width: 70px; border: 1px solid #333;">@item.itemCode</td>
                                <td style="width: 100px; border: 1px solid #333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    @item.itemName2

                                    @if(!string.IsNullOrEmpty(item.itemSize))
                                    {
                                        <br> <span>Velicina: @item.itemSize</span>
                                    }

                                </td>

                                <td style="width: 40px; border: 1px solid #333;">@item.itemQuantity</td>
                                <td style="width: 50px; border: 1px solid #333;">@item.measureUnit</td>
                                <td style="width: 70px; border: 1px solid #333;">@item.retailPrice</td>
                                <td style="width: 70px; border: 1px solid #333;">@item.retailPriceWithoutTax</td>
                                <td style="width: 40px; border: 1px solid #333;">@item.taxRate%</td>
                                <td style="width: 60px; border: 1px solid #333;">@item.taxAmount</td>
                                <td style="width: 70px; border: 1px solid #333;">@item.totalPrice</td>
                            </tr>
                        }

                        <tr>
                            <td colspan="9"></td>
                            <td style="width: 90px; height: 25px; line-height: 25px; border: 1px solid #333;">@templateModel.grandTotalPrice</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>

        <tr width="100%" style="margin-top:30px;">
            <td colspan="2">
                <table align="center" width="100%" style="text-align: center; border-collapse: collapse; font-size: 11px;">

                    <tr>
                        <td>
                            <table align="left" style="border-collapse: collapse;">
                                <tr>
                                    <td style="width: 100px;">Cena isporuke</td>
                                    <td style="width: 60px;">PDV %</td>
                                    <td style="width: 90px;">Cena sa PDV</td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid black; padding: 7px 12px">@templateModel.deliveryPriceWithoutTaxRate</td>
                                    <td style="border: 1px solid black; padding: 7px 12px">20</td>
                                    <td style="border: 1px solid black; padding: 7px 12px">@templateModel.deliveryPrice</td>
                                </tr>

                            </table>
                        </td>
                        <td>
                            <table align="right" style="width: 90px; font-size: 11px;">
                                <tr>
                                    <td style="padding-top: 20px; vertical-align: bottom;">
                                        ZA UPLATU:
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 7px 12px; border: 1px solid black;">
                                        @templateModel.forPayment
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="1"></td>
                        <td>
                            <table align="right" style="width: 90px; font-size: 11px;">
                                <tr>
                                    <td style="padding-top: 10px; vertical-align: bottom;">
                                        PLAĆENO:
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 7px 12px; border: 1px solid black;">
                                        @templateModel.creditNote
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="1"></td>
                        <td>
                            <table align="right" style="width: 90px; font-size: 11px;">
                                <tr>
                                    <td style="padding-top: 10px; vertical-align: bottom;">
                                        RAZLIKA ZA <br> PLAĆANJE:
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 7px 12px; border: 1px solid black;">
                                        @templateModel.forPay
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-size: 10px; text-align: center; padding-top: 35px; letter-spacing: .2px;">
                U skladu sa Zakonom o zaštiti potrošača, imate pravo povrata u roku od 14 dana od momenta dostave, <br>
                bez navođenja razloga za odustanak od ugovora. U ovom slučaju, potrebno je da nas obavestite putem mail adrese <br>
                @templateModel.sellerEmail ili call centra @templateModel.sellerTelephone.
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 50px;">
                <table width="100%">
                    <tr>
                        <td style="text-align: center; width: 35%; font-size: 12px; margin-top: 50px; padding-top: 2.5px; border-top: 1.5px solid #333;">Dokument sačinio</td>
                        <td style="width: 30%;"></td>
                        <td style="text-align: center; width: 35%; font-size: 12px; margin-top: 50px; padding-top: 2.5px; border-top: 1.5px solid #333;">Robu primio</td>
                    </tr>
                </table>
            </td>
        </tr>
</body>
</html>